body {
  background-color: #ffccd4;
}

h1 {
  background-color: #ffddc4;
}

body {
  color: #40302f;
}
h1 {
  color: #4d1b16;
}

/* This is a single-line comment. For more info on CSS, go to https://www.w3schools.com/css/default.asp. */

