/* border stuff */
p.outset {border-style: outset;}

/* Background Colors*/
body {
  background-color: #ffefeb;
}

h1 {
  background-color: #ffefeb;
}
div {
  background-color: #ffccd4;
}
/* Text Colors */
body {
  color: #ac5b68;
}
h1 {
  color: #ac5b68;
}

/* Text Alignment */
h1 {
  text-align: center;
}

body {
  text-align: center;
}

/* Font */
.p1 {
  font-family: Copperplate, Copperplate, Serif;
}
.p2 {
  font-family: "Lucida Handwriting", Cursive, Serif;
}
/* This is a single-line comment. For more info on CSS, go to https://www.w3schools.com/css/default.asp. */

